
        <div class="header_img"></div>
        <nav>
            <ul class="nav_menu">
                <li><a href="get">먹거리</a></li>
                <li><a href="">살거리</a></li>           
            </ul>
        </nav>
        <section class="get_sec">
            <div class="get_title"><h1>먹거리 살거리</h1></div>
            <div class="search_wrap">
                <div class="total"><p>78건 1page</p></div>
                <div class="search">
                    <select type="text">
                        <option>제목</option>
                        <option>내용</option>
                        <option>제목+내용</option>
                    </select>
                    <input type="text">
                    <div><a href=""></a></div>
                </div>
            </div>
            <article class="get_wrap">
                <figure>
                    <div class="food_img1"></div>
                    <figcaption>
                        <div class="cate">
                            <p>차돌박야끼소바</p>
                            <p>육류튀김류</p>
                        </div>
                        <div class="order"><a href="">바로주문</a></div>
                    </figcaption>
                </figure>
                <figure>
                    <div class="food_img2"></div>
                    <figcaption>
                        <div class="cate">
                            <p>뉴욕치즈스테이크</p>
                            <p>육류튀김류</p>
                        </div>
                        <div class="order"><a href="">바로주문</a></div>
                    </figcaption>
                </figure>
                <figure>
                    <div class="food_img3"></div>
                    <figcaption>
                        <div class="cate">
                            <p>야채뚱땡삼겹말이</p>
                            <p>육류튀김류</p>
                        </div>
                        <div class="order"><a href="">바로주문</a></div>
                    </figcaption>
                </figure>
                <figure class="margin_zero">
                    <div class="food_img4"></div>
                    <figcaption>
                        <div class="cate">
                            <p>스시머스마</p>
                            <p>밥류</p>
                        </div>
                        <div class="order"><a href="">바로주문</a></div>
                    </figcaption>
                </figure>
                <figure>
                    <div class="food_img5"></div>
                    <figcaption>
                        <div class="cate">
                            <p>랍스타킹</p>
                            <p>해산물류</p>
                        </div>
                        <div class="order"><a href="">바로주문</a></div>
                    </figcaption>
                </figure>
                <figure>
                    <div class="food_img6"></div>
                    <figcaption>
                        <div class="cate">
                            <p>직화불고기</p>
                            <p>육류튀김류</p>
                        </div>
                        <div class="order"><a href="">바로주문</a></div>
                    </figcaption>
                </figure>
                <figure>
                    <div class="food_img7"></div>
                    <figcaption>
                        <div class="cate">
                            <p>남천꼬치</p>
                            <p>꼬치류</p>
                        </div>
                        <div class="order"><a href="">바로주문</a></div>
                    </figcaption>
                </figure>
                <figure class="margin_zero">  
                    <div class="food_img8"></div>
                    <figcaption>
                        <div class="cate">
                            <p>반쎄오</p>
                            <p>기타</p>
                        </div>
                        <div class="order"><a href="">바로주문</a></div>
                    </figcaption>
                </figure>
                <figure class="dis">
                    <div class="food_img9"></div>
                    <figcaption>
                        <div class="cate">
                            <p>빙수</p>
                            <p>디저트류</p>
                        </div>
                        <div class="order"><a href="">바로주문</a></div>
                    </figcaption>
                </figure>
                <figure class="dis">
                    <div class="food_img10"></div>
                    <figcaption>
                        <div class="cate">
                            <p>우유튀김</p>
                            <p>디저트류</p>
                        </div>
                        <div class="order"><a href="">바로주문</a></div>
                    </figcaption>
                </figure>
                <figure class="dis">
                    <div class="food_img11"></div>
                    <figcaption>
                        <div class="cate">
                            <p>프렌치마카롱</p>
                            <p>디저트류</p>
                        </div>
                        <div class="order"><a href="">바로주문</a></div>
                    </figcaption>
                </figure>
                <figure class="dis margin_zero">
                    <div class="food_img12"></div>
                    <figcaption>
                        <div class="cate">
                            <p>호박식혜</p>
                            <p>디저트류</p>
                        </div>
                        <div class="order"><a href="">바로주문</a></div>
                    </figcaption>
                </figure>
            </article>
            <div class="page">
                <div><a class="arrow_ll" href=""></a></div>
                <div><a class="arrow_l" href=""></a></div>
                <div><a href="">1</a></div>
                <div><a href="">2</a></div>
                <div><a href="">3</a></div>
                <div><a href="">4</a></div>
                <div><a class="arrow_r" href=""></a></div>
                <div><a class="arrow_rr" href=""></a></div>   
            </div>
        </section>
