
        <div class="header_img"></div>
        <nav>
            <ul class="nav_menu">
                <li><a href="introduction">야시장안내</a></li>
                <li><a href="">매대위치</a></li>           
            </ul>
        </nav>
        <section class="sec1">
            <div class="int_title"><h1>서문시장야시장 소개</h1></div>
            <div class="m_vedio"><iframe src="https://www.youtube.com/embed/aoPtNtU2OfA"></iframe></div>
            <article class="art1">
                <div class="int_sub_title">
                    <h2>전 세게인과 함께하는, 대한민국 대표 야시장 ‘서문시장 야시장</h2>
                </div>
                <div class="contents">
                    <div class="art1_photo_wrap"><div class="art1_photo"></div></div>
                    <div class="art1_para">
                        <p>서문시장 야시장은 2016년 6월에 개장한, 총거리 350M에 달하는 대형 야시장입니다.
                            우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여 총 80대의 매대에서 다양한 먹거리, 
                            살거리를 판매하며 매일 저녁, 시민과 관광객에게 즐거움을 선사하는 복합문화공간입니다.
                        </p> 
                        <p>
                            특히, 먹거리 일색인 타 야시장과는 달리 먹거리, 볼거리, 즐길거리의
                            3대 요소가 연중으로 펼쳐지는 마법같은 관광지이기도 합니다.
                        </p>
                        <p>밤이 즐거운 대구 야행
                            한옥 체험을 경험할 수 있는 서문한옥게스트하우스, 동성로와 인접한 교동게스트하우스도
                             함께 운영합니다.
                        </p>
                    </div>
                </div>
            </article>
            <article class="art2">
                <div class="int_sub_title">
                    <h2>연중무휴로 펼쳐지는 Fantastic Night Party!<br>
                    야시장을 통한 성공적인 창업상단 육성!
                    </h2>
                </div>
                <div class="contents2">
                    <!--
                    <address class="m_img">
                        <div class="m_img_l"></div>
                        <div class="m_img_r"></div>
                    </address>
                    <address></address>
                    -->
                    <div class="art2_para">
                        <p>서문시장 야시장은 대구의 밤문화와 다양한 첨단, 문화예술이 복합되어
                            어디에서도 찾을 수 없는 경험을 제공합니다.
                        </p>
                        <p>글로벌, 퓨전 먹거리를 비롯하여 대구에서만 찾을 수 있는 독특한 음식
                            우리의 추억과 감성을 자극하는 다양한 볼거리, 살거리가 즐비합니다.
                        </p>
                        <p>대구로 방문하신다면 반드시 찾아가봐야 할 1순위는 단연
                        </p>
                        <p><span class="weekend">‘서문시장 야시장’입니다</span>
                        </p>
                    </div>
                    <div class="art2_photo_l"><div></div></div>
                    <div class="art2_photo_r"><div></div></div>
                </div>
            </article>
        </section>
        <section class="sec2">
            <div class="int_title"><h1>서문시장야시장 오시는 길</h1></div>
            <article class="art3">
                <div class="contents">
                    <div class="map">
                        <div>
                            <a class="map_img" href="http://naver.me/xtWy3NyR"></a>
                        </div>
                    </div>
                    <div class="map_para">
                        <p>ㅇ주소 : 대구 중구 큰장로26길 45</p>
                        <p>ㅇ전화 : 053-256-6341</p>
                        <p>ㅇ주변 지하철: 대구 3호선 서문시장역
                            대구 2호선 신남역 
                            대구 3호선 신남역
                            대구 3호선 달성공원역
                        </p>
                        <p>ㅇ주변 정류장 : 큰장네거리4, 동산의료원앞2,                                             
                            서문시장5지구앞, 동산의료원앞1,                       
                            서문시장 ,큰장네거리2
                        </p>
                        <p class="weekend">정기휴무 : 매주화요일
                            일,월,수,목(19:00~22:30) 금,토(19:00~23:30)</p>
                    </div>
                </div>
            </article>

