<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="back">
        <div class="ent">
            <p>로그인</p>
            <div class="smlogin_wrap">
                <div class="login_wrap">
                    <input type="text" placeholder="아이디">
                    <input type="password" placeholder="비밀번호">
                    <button>로그인</button><div>
                </div>
                <div class="login_sec">
                    <div>
                        <input type="checkbox">
                        <span>로그인 상태 유지</span>
                    </div>
                    <span class="login_on">IP보안 <b>ON</b></span>
                </div>
                <div class="login_rel">
                    <div><a href="">아이디 찾기 |</a></div>
                    <div><a href="">&nbsp비밀번호 찾기</a></div>
                </div>
                <div class="kakao_login" onclick="javascript:kakaoLogin();"></div>
                <div class="lb_banner">
                    <a href="notice"><div class="lb_banner_img"></div></a>
                </div>
                <div class="lb_foot">
                    <div><a href="">야시장소개</a></div>
                    <div>|</div>
                    <div><a href="">고객센터</a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>