<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div class="m_menuwrap">
        <div class="gomain"><a href="/">X</a></div>
        <ul class="gocate">
            <li><a href="introduction">야시장소개</a></li>
            <li><a href="get">먹거리살거리</a></li>
            <li><a href="">서문거리예술문화</a></li>
            <li><a href="notice">참여마당</a></li>
            <li><a href="">입점신청</a></li>
        </ul>
        <ul class="gologin">
            <li><a href="login">로그인</a></li>
            <li><a href="join">회원가입</a></li>
        </ul>
    </div>
</body>
</html>