
        <section>
            <div class="main_img">
                <div class="logo_wrap">
                    <div class="logo"></div>
                </div>
            </div>
        </section>
        <section>
            <div class="title"><h1>홍보영상</h1></div>
            <div class="video">
                <iframe src="https://www.youtube.com/embed/aoPtNtU2OfA?autoplay=1&mute=1"></iframe>
                <div class="m_vi_txt">
                    <span>2016년 6월에 개장한, 총거리 350M의 대형 야시장!</span>
                    <p>우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여 다양한 먹거리, 살거리를 판매하며
                        매일 저녁, 시민과 관광객에게 즐거움을 선사하는 복합문화공간입니다. </p>
                    <p>특히 먹거리, 볼거리, 즐길거리의 3대 요소가 연중으로 펼쳐지는 마법같은 관광지이기도 합니다.</p>
                </div>
            </div>
        </section>
        <section>
            <div class="title2">
                <h1>서문시장 야시장과 함게하는 대구여행</h1>
                <h3>오감만족! 육감충족! 밤의 즐거움이 한자리에!</h3>
            </div>
            <article class="trip_wrap">
                <figure>
                    <a href="introduction">
                        <div class="img1"></div>
                        <figcaption><p>야시장안내</p></figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="">
                        <div class="img2"></div>
                        <figcaption><p>시장안내</p></figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="get">
                        <div class="img3"></div>
                        <figcaption><p>먹거리살거리</p></figcaption>
                    </a>
                </figure>
                <figure>
                    <a href="">
                        <div class="img4"></div>
                        <figcaption><p>볼거리</p></figcaption>
                    </a>
                </figure>
            </article>
        </section>
        <section>
            <div class="title2">
                <h1>대한민국 No.1 글로벌 야시장</h1>
                <h3>먹고, 마시고, 즐길 수 있는</h3>
            </div>
            <article class="or_mi_wrap"> 
                <div class="order_wrap">
                    <div class="order_t">
                        <p><a href="get">코로나19 극복을 위한</a></p>    
                        <span><a href="get">스마트</a></span>
                        <em><a href="get">비대면 주문서비스</a></em>
                    </div>
                    <div class="order_b">
                        <div>
                            <p>매대명 또는 식품명, 상품명을 입력하세요</p>
                        </div>
                        <div>
                            <input type="text">
                            <button type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="mission_wrap">
                    <div class="mission_t">
                        <p><a href="">도전!</a></p>    
                        <em><a href="">서문시장야시장</a></em>
                        <span><a href="">투어미션</a></span>
                    </div>
                    <div class="mission_b">
                        <div class="mi_txt">
                            <p>미션과 함께 즐거움UP!</p>
                            <P>선물도 팡팡</P>
                        </div>
                        <div class="qr"><img src="img/QR.png"></div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article class="gano_wrap">
                <div class="gallery">
                    <a href="">
                        <div>
                            <p>SEOMUN NIGHT<span>MARKET GALLERY</span></p>
                        </div>
                    </a>
                </div>
                <div class="notice">
                    <a href="notice">
                        <div>
                            <p>NOTICE</p>
                        </div>
                    </a>
                </div>
            </article>
            <article class=bot_logo>
                <div><div class="img"></div></div>
            </article>
        </section>
