.back{
    width:100%;
    margin:auto;
    background-color: #ececee;

}
.ent{
    width:700px;
    margin:auto;
    background-color: #fff;
    font-size:16px;
    color:#333333;
    padding:50px 0;
}
.ent>p{
font-size:20px;
font-weight:bold;
text-align: center;
}

.join_wrap{
    width:450px;
    margin:auto;
}
label{
    display:block;
    margin: 19px 0 8px;
    font-weight: 700;
}
.join_wrap>input{
    width:100%;
    height:46px;
    padding:8px 44px 8px 14px;
    box-sizing: border-box;
    border: 1px solid #C5B7B7;
}
.join_wrap>select{
    width:100%;
    height:46px;
    padding:8px 44px 8px 14px;
    box-sizing: border-box;
    border: 1px solid #C5B7B7;
}
.join_wrap>button{
    width:100%;
    height:55px;
    background-color: #FDD534;
    color:#333333;
    font-weight:bold;
    margin: 50px 0 0;
    border:none;
}
#j_pass{
    background-image: url(../img/password.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: right center;
}
#j_passc{
    background-image: url(../img/password_check.png);
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: right center;
}
.join_birth{
    width:450px;
    margin:auto;
    overflow: hidden;
}
.birth_wrap{
    width:calc(100% + 10px);
    display:flex;
}
.birth_wrap>span{
    width:calc(100% / 3);
    height:46px;
    margin-right:10px;

}
.birth_wrap>span>input{
    width:100%;
    height:100%;
    padding:11px 14px;
    box-sizing: border-box;
}
.birth_wrap>span>select{
    width:100%;
    height:100%;
    padding:11px 14px;
    box-sizing: border-box;
}


@media only screen and (max-width: 1200px) {
    .ent{
        font-size:14px;
    }
    .ent>p{
        font-size:18px;
    }

}
@media only screen and (max-width: 768px) {
    
    .ent{
        width:100%;
        padding:0 20px;
        box-sizing: border-box;
        font-size:12px;
    }
}